body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
    font-family: sans-serif;
}
.container{
    text-align: center;
    margin: 0 auto;
    font-size:14px;
    background-color: grey;
    max-width: 50%;
    padding: 50px 0;
}
img{
    border-radius:50%;


}
.container #name{
    color:white;
    margin-top: 20px;
    font-size:20px;
}

.container .description{
    color:yellow;
    margin-top: 10px;
    font-size: 15px;
}
.container .about{
    margin-top:20px;
    color:white;
    font-size: 20px;
}

.fa-links-container{
    margin-top:20px;
    padding:10px;
    text-align: center;
    
}

.fa-links-container div a{ 
    padding:10px;
    border-radius:5px;
    color:white;
    margin:0  auto;
    max-width: 45%;
    margin-bottom: 20px;
   font-weight:bold;
   background-color: hsl(0%, 0%, 20%);
}
a{
    text-decoration: none;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 600;
    color:white
}
.attribution{
    text-align:center;
    text-decoration: none;
}